<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="COLORIZER_COLORS" value="boldred@, boldyellow@, boldmagenta@, boldcyan@, green@"/>
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level - %highlight(%msg) %n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="io.restassured.RestAssured" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.springframework.retry" level="DEBUG"/>
    <logger name="io.restassured.internal" level="WARN"/>
    <root level="DEBUG">
        <appender-ref ref="Console"/>
    </root>
</configuration>